* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F5F5F5;
}
main {
    width: 80%;
    margin: 0 auto;
}

main h1 {
    margin-top: 20px;
    text-align: center;
    color: #0070B7;
}
#user-adding {
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-adding i {
    cursor: pointer;
    color: #0070B7;
}
#user-adding input{
    margin: 20px 10px;
    padding: 10px;
    font-size: 18px;
    width: 40%;
}

#todo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.todo-item {
    width: 250px;
    height: 80px;
    border-radius: 5px;
    background-color: #0070B7;
    position: relative;
    margin: 20px 10px;
    color: white;
}
.todo-item p {
    line-height: 80px;
    text-align: center;
    font-size: 20px;
}
.edit-item {
    margin-top: 25px;
    margin-left: 25px;
    padding: 5px;
    font-size: 16px;
}
.todo-item p.hide {
    display: none;
}
.edit-item.hide {
    display: none;
}
.todo-item i.edit,.todo-item i.save {
    position: absolute;
    top: 4%;
    right: 2%;
    cursor: pointer;
}

.todo-item i.delete {
    position: absolute;
    top: 4%;
    right: 12%;
    cursor: pointer;
}

.todo-item i.show {
    display: inline-block;
}

.todo-item i.hide {
    display: none;
}
